<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parksrazor.web.mappers.ScheduleMapper">
    <select id="selectAll" resultType="com.parksrazor.web.domains.ScheduleDTO">
        select
            sche_date scheDate,
            stadium_id stadiumId,
            gubun,
            hometeam_id hometeamId,
            awayteam_id awayteamId,
            home_score homeScore,
            away_score awayScore
        from schedule
    </select>
</mapper>

